<<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="idec.Scheduling_Offical_approval"/>
      <class name="Test.OsgofTest"/>
      <class name="Test.uploaddemo"/>
      <class name="dev.payzone.test.Nassarawa_Invoice_test"/>
      <class name="idec.ApplicantInvalidlogin"/>
      <class name="idec.Applicantvalidlogin"/>
      <class name="idec.Registeranapplicant"/>
      <class name="idec.Newapplication"/>
      <class name="Test.TestNGReg_Osgoftest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
